<div class="container">
  <div class="d-block position">
    <div class="logo-section pt-3">
      <img alt="logo" [src]="imgSrc" />
    </div>
    <div class="text fw-semibold text-center font-poppins pt-3">Sign Up</div>
    <form [formGroup]="signupForm">
      <div class="formClass">
        <div class="text text-center font-poppins fw-bold mt-3 mb-3">
          Create Your Account
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            ><span class="text-danger fw-bold" *ngIf="showbtn">*</span> Full
            Name</label
          >

          <span class="required" *ngIf="showbtn"></span>
          <input
            type="text"
            class="form-control input-bg"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="fullName"
            required
          />
          <span
            *ngIf="f['fullName'].errors?.['minlength'] && showbtn"
            class="text-danger"
          >
            Full Name must be at least 3 characters.
          </span>
          <span
            class="text-danger"
            *ngIf="f['fullName'].errors?.['required'] && showbtn"
            >FullName is required</span
          >
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label">Phone Number</label>
          <!-- the click event here set the values of the boolean showCountryList
        to either true or false -->
          <div class="phone-input-container">
            <div
              class="country-selector align-items-center justify-content-center"
              (click)="showCountryList = !showCountryList"
            >
              <span [innerHTML]="selectedCountry.flag"></span>
              <span class="dial-code">{{ selectedCountry.dialCode }}</span>
            </div>

            <input
              class="form-control input-bg"
              type="tel"
              formControlName="phone"
              [placeholder]="
                selectedCountry.code === 'ke' ? 712345678 : 'Enter Phone Number'
              "
              (input)="formatPhone($event)"
              [maxlength]="selectedCountry.code === 'ke' ? 9 : 10"
            />
            <span
              class="text-danger"
              *ngIf="f['phone'].errors?.['required'] && showbtn"
              >Phone is required</span
            >
          </div>

          <!-- Country List (shown on flag click) -->
          <div class="country-list" *ngIf="showCountryList">
            <div
              *ngFor="let country of countries"
              (click)="selectCountry(country)"
              class="country-option"
            >
              <span [innerHTML]="country.flag"></span>
              <span class="country-name">{{ country.name }}</span>
              <span class="dial-code">{{ country.dialCode }}</span>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control input-bg"
            id="exampleInputPassword1"
            formControlName="password"
            required
          />
          <span
            class="text-danger"
            *ngIf="f['password'].errors?.['required'] && showbtn"
            >Password is required</span
          >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword2" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control input-bg"
            id="exampleInputPassword2"
            formControlName="confirmPassword"
          />
          <span
            class="text-danger"
            *ngIf="f['confirmPassword'].errors?.['required'] && showbtn"
            >Password is required</span
          >
        </div>
        <!-- the spinner class will only be shown when isOnloading is set to true,
that is when processng user request of logging in -->
        <button
          type="submit"
          class="btn btn-primary loginbtn"
          (click)="validateForm()"
        >
          <span *ngIf="!isLoading">Sign Up</span>
          <span *ngIf="isLoading">
            <span
              class="spinner-border spinner-border-sm text-success"
              role="status"
              aria-hidden="true"
            ></span>
            Processing...
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
